*{
    margin: 0;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform-origin: center;
    z-index: 9999;
    transition: opacity .5s, transform .5s;
}

.loading-screen img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

/* Navbar styles */
nav {
    
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    animation: x 1s ease-in-out;
    text-decoration: none;
    margin-right: 40px;
}
@keyframes x{
    from{
        transform:  translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(-30%);
    }
} 
.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 90%;
}

.nav-links a:hover {
    color: #ffe100;
}

/* Burger menu styles */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.4s;
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    margin: 0;
}

.dropdown-menu a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #00bcd4;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 2;
    }
    .nav-links li{
      margin: 20px;
  }
    .nav-links.active {
        display: flex;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .overlay.active {
        display: block;
    }

    .dropdown-menu.active {
        display: block;
    }
}

/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    background: #ccc;
    /* margin: 30px 50px; */
    /* line-height: 1.4; */
  }
  
  .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
  
  /* Navigation */
  .main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
  }
  
  /* Top Container */
  .top-container {
    margin-top: 0.04%;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase top-box-a'
      'showcase showcase top-box-b';
  }
  
  /* Showcase */
  .showcase {
    grid-area: showcase;
    min-height: 400px;
    background: linear-gradient(to right, #000000b0, #00000083), url(images/insurancehome.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    
  }
  
  .showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
  }
  
  .showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
  }
  .generalins{
    padding-top: 4%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 35px;
  }
  /* Top Box */
  .top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1rem;
  }
  .lifeins{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 2%;
    font-size: 35px;
  }
  .top-box .price {
    font-size: 1rem;
  }
  .top-box h4{
    font-size: 30px;
  }
  .top-box-a {
    grid-area: top-box-a;
  }
  
  .top-box-b {
    grid-area: top-box-b;
  }
  
  /* Boxes */
  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }
  
  /* Info */
  .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    margin: 10px;
  }
  
  /* Portfolio */
  .portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
  }
  
  /* Footer */
  footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
  }
  
  /* Media Queries */
  @media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .info {
      grid-template-columns: 1fr;

    }
  
    .info .btn {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
  }
  
/***************************
         FOOTER
****************************/
footer{
    width:97.5%;
    background-color: #202020;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    text-align:center;
    color: #ccc;
}

footer section{
    flex:1 1 100%;
}

footer a, footer p{
    color:var(--lite);
}

footer .flex_content:first-child a:not(:last-child){
    margin-right:20px;
}

footer .flex_content a:not(:last-child){
    margin-right:50px;
}

footer .flex_content a .fa{
    font-size:1.6em;
}

footer .flex_content a:hover{
    color: white;
}

@media (max-width:920px){
    footer{
        padding-top:2rem;
        min-height: 20vh;
    }
    
    footer section{
        padding:0rem 1rem !important;
        text-align:left;
    }

    footer .flex_content:not(:first-child) a{
        margin-right:0px;
        margin:1rem 0;
        display:block;
    }
}
.flex_content{
    margin-top: 5%;
}
.flex_content a{
    text-decoration: none;
}
/* .top-box{
  display: none;
} */
.boxes{
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .top-box{
    display: none;
  }
  footer{
    width: 92.2%;
  }
}
.box li{
  text-align: left;
  margin-left: 5%;
}
.box p{
  text-align: left;
  margin-left: 3%;
}
nav{
  position: fixed;
  width: 100%;
}